body,html {
    width: 99%;
    height: 99%;
}
* {
    font-family:Arial, Helvetica, sans-serif
}
/** {
    border-style: solid;
    border-width: 1px;
}*/
/*
                                                                BOX LAYOUT CSS STYLES & BORDERS
*/
div.main-pane {
    width: 1200px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 900px [col2-start] 290px [col2-end];
    grid-template-rows: [row1-start] 100px [row2-start] 500px [row2-end];
    margin: 10px auto auto 50px;
    border-style: solid;
    overflow: auto;
}

div.image-outview {
    border-style: dotted;
    display: grid;
    grid-column: col1-start;
    grid-row: row2-start;
}



div.interaction-pane {
    border-style: dotted;

    grid-column: col2-start;
    grid-row: row1-start / row2-end;
}
div.top-panel {
    border-style: dotted;
    grid-column: col1-start;
    grid-row: row1-start;

    display: flex;
    flex-direction: wrap;
    flex-flow: row nowrap;
}
#price-panel {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    align-items: left;
    height: 100px;
    overflow: center;
    padding: 10px;
    box-sizing: border-box;
}
#price-panel p {
    margin: 0 0 0 30px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}
#logo-panel, #price-panel, #manu-panel {
    flex-basis: 33%;
}
#price-panel-prices, #price-panel-vats {
    flex-basis: 50%;
}
div.top-panel p {
    font-size: 1.5em;
}

ul {
    margin-top: 10px;
    margin-left: 50px;
}
li {
    display: inline;
    margin-right: 50px;
}
.fadedButton {
    background-color: #f00808;
}

.leafButton {
    background-color:blue;
}





#sbblack, #sbwhite, #sbchrome, #sbcolmatch {
    padding: 6px 12px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}
.sbolt-buttons .s-bolt-selected {
    background-color: #061a07 !important;  /* Green background when selected */
    color: rgb(212, 8, 8);
}


#sbblack:hover, #sbwhite:hover, #sbchrome:hover, #sbcolmatch:hover {
    background-color: #e8e8e8;
}




#available-style-buttons {
    display:block;
}
.interaction-pane {
    position: relative;
}
.continue-button {
    position: absolute;
    bottom: 0;
    right: 0;
}
.back-button {
    position: absolute;
    bottom: 0;
    left: 0;
}
.reg-col-options {
    display: flex;
    justify-content: space-between;
}
.reg-col-labels {
    display: block;
}
.pane-style {

}
/*
                                                                 IMAGE ELEMENT CSS STYLES
*/

#canvas-outview {
    margin: auto;
}
#canvas-outview {
    justify-self: right;
}
div.image-outview p {
    justify-self: center;
}

